
	/*===============================
		        *** Common Css ***
	=================================*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'AdorshoLipi', Arial, sans-serif;

}
.container{
	margin: 0 auto;
	max-width: 960px;
}
a{
	text-decoration: none;
	color: black;
}



	/*===============================
		   *** Header Css ***
	=================================*/

.header{
	color: white;
}
.Top_header{
	width: 100%;
	background: #16756D;
	
}

.Top_header h1, p{
	width: 100%;
	text-align: center;
	padding: 10px;
	display: inline-block;
	
}
.Top_header h1{
	font-size: 220%;
}

.header_division{
	margin-top: 9px;
	background: #16756D;
	padding: 10px;
	text-align: center;
}
.header_division a{
	margin: 10px;
	color: white;
	font-size: 160%;
}
.header_division a:hover{
	color: yellow;
	border: 1px solid white;
}

	/*===============================
		   *** Blog Css ***
	=================================*/


#Blog_Area{
	width: 96%;
	margin: 10px;
}
.blog_data{
	font-size: 40px;
	margin-bottom: 30px;
}
.blog_data h6 a{
	font-size: 22px;
	text-decoration: underline;
}
.blog_data h6{
	font-size: 25px; 
	padding: 6px;
	margin: 5px;
}
.blog_data a{
	color: blue;
	font-size: 40px;
}
.blog_data h6 a:hover{
	color: white;
	background: #607876;
}
.blog_data_text{
	text-align: justify;
}

.blog_data_text{
	font-size: 20px;
	margin: 10px;
	padding: 5px;
}

.about_text{
	font-size: 20px;
	
}
.about_text p{
	text-align: justify;
}
.about_team{
	background: #ade6b073;
	width: 100%;
	height: 770px;
}
.about_team h1{
	text-align: center;
	background: #b9bfbacc;
	border-radius: 10px;
	color: #061107;
	margin-bottom: 10px;
	text-shadow: 1px 4px 10px ;
}
.about_team h3{
	text-align: center;
	background: #1e87238f;
	border-radius: 5px;
	color: #061107;
}
.about_team img{
	width: 100%;
	padding: 10px;
	border-radius: 30px;
}
.yakub{
	width: 48%;
	float: left;
}
.junait{
	width: 48%;
	float: right;
}

.yakub_about_Text{
	float: left;
	width: 48%;
}
.junait_about_Text{
	float: right;
	width: 48%;
}
.yakub_about_Text p, .junait_about_Text p {
	text-align: justify;
}


	/*===============================
		   *** Footer CSS ***
	=================================*/

.Fotter_Section{
	margin-top: 50px;
	background: #16756D;
}
.footer ul{
	list-style: none;
	text-align: center;
}
.footer ul li{
	list-style: none;
	display: inline-block;
	padding: 0px 10px;
	margin: 10px;
	font-size: 20px;
	color: white;
}
.footer ul li a{
	color: white;
}
